<a href="https://colab.research.google.com/github/WiratchawaKannika/DPDM65/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
project_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_project.csv')
print(project_df.shape)  ##บอกขนาดของ DataFrame
project_df.head()

(23434, 45)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [4]:
unit_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_unittype.csv')
print(unit_df.shape)  ##บอกขนาดของ DataFrame
unit_df.head()

(42625, 27)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

# Data Cleaning

## Dealing with missing data

### Check missing data

In [ ]:
project_df.describe()

,row_number,latitude,longitude,subdistrict_id,district_id,province_id,zipcode,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
count,23429.000000,23434.000000,23429.000000,23415.000000,23424.000000,23425.000000,23403.000000,21547.000000,18603.000000,6820.000000,8895.000000,2890.000000,11675.000000,6277.000000,9718.000000,16123.000000
mean,11715.000000,16.399159,100.600086,4216.201751,4001.917435,3942.592231,28209.221211,199.043765,2.325861,0.724340,0.848679,0.224913,0.894304,0.697308,0.874048,0.959809
std,6763.514064,176.896370,0.947247,2476.968321,1662.485878,1663.662562,24724.177495,320.029641,2.138378,0.446879,0.358382,0.417598,0.307461,0.459460,0.331812,0.196413
min,1.000000,6.839354,97.985808,1007.000000,1006.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5858.000000,13.347151,100.400282,3414.000000,3411.000000,3372.000000,10400.000000,49.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
50%,11715.000000,13.753725,100.601281,3802.000000,3800.000000,3781.000000,20000.000000,108.000000,2.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,17572.000000,13.946742,100.912703,4527.000000,4000.000000,3781.000000,40000.000000,240.000000,3.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,23429.000000,12160.000000,105.222114,20688.000000,20003.000000,10508.000000,390000.000000,10074.000000,96.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

- "count" นับเฉพาะช่องที่ไม่มี missing เท่านั้น 
> "facility_clubhouse" มีแค่ 6820 rosw จากทั้งหมด 23434 rosw

In [ ]:
project_df.isnull()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
23430,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
23431,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
23432,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
23433,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,False,False,False,False

```
.any() 
```
เอาค่าความจริงใน Columns มา or กัน

In [ ]:
project_df.isnull().any()

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool



```
.any().any()
```

บอกว่าใน DataFrame นี้มีค่า missing อยู่

In [ ]:
project_df.isnull().any().any()

True



```
.all()
```

นำค่าความจริงใน columns มา and กัน

In [ ]:
project_df.isnull().all()

row_number                False
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
developer_name_th         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
neighborhood_name_th      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_tower               False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
date_created              False
date_finish               False
date_updated              False
source                    False
url_project               False
dtype: bool

### delete records with missing data 

```
dropna()
```


- null
- Nan (Not a number)
- Na (Not  authorised/ Not available) == missing

In [ ]:
project_df.shape

(23434, 45)

In [ ]:
unit_df.shape

(42625, 27)

In [ ]:
project_df.dropna()

Empty DataFrame
Columns: [row_number, project_id, name_en, name_th, propertytype_id, propertytype_name_en, propertytype_name_th, price_min, developer_id, developer_name_en, developer_name_th, latitude, longitude, neighborhood_id, neighborhood_name_en, neighborhood_name_th, subdistrict_id, subdistrict_name_en, subdistrict_name_th, district_id, district_name_en, district_name_th, province_id, province_name_en, province_name_th, zipcode, count_elevator, count_elevator_service, count_floor, count_parking, count_tower, count_unit, count_unittype, facility_clubhouse, facility_fitness, facility_meeting, facility_park, facility_playground, facility_pool, facility_security, date_created, date_finish, date_updated, source, url_project]
Index: []

[0 rows x 45 columns]

In [ ]:
unit_df.dropna()

Empty DataFrame
Columns: [row_number, unittype_id, project_id, name_th, propertytype_id, propertytype_name_en, propertytype_name_th, area_total_min_wa, area_usable_min, price_min, count_airconditioner, count_elevator, count_floor_internal, count_parking, count_room_bath, count_room_bed, count_room_dinning, count_room_guest, count_room_kitchen, count_room_living, count_room_maid, count_room_storage, count_room_utility, date_created, date_updated, source, url_unittype]
Index: []

[0 rows x 27 columns]

### pandas.DataFrame.dropna

`DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)`

- axis (default = 0) ต้องการสนใจในแนว rows หรือ columns
- thresh แถวนั้นจะถูก drop ถ้ามีจำนวน Na น้อยกว่าจำนวนที่เรา set ไว้ 
- subset คือ ระบุ columns ที่ต้องการ dropna() เป็น list ของ Colums เช่น   ['colums1', 'columns2'] 
- inplace คือ function ที่ keep ผลของการ dropna() ไว้ในตารางนั้นเลย โดยไม่ต้องสร้างตัวแปรขึ้นมารับค่าไว้ใหม่ คือ การ update ตัวแปรเดิม หรือ ใช้เมื่อจะไม่นำตารางเดิมไปใช้ต่อ



```
# 1. axis
```

In [ ]:
project_df.dropna(axis=1)  ## Drop ทุก Columns ที่มี midssing อยู่  ## ''' เหลือแค่ 8 columns

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,developer_id,latitude
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,developer_10678,13.570530
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,developer_7319,13.033814
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,developer_10510,13.417402
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,developer_10510,15.038042
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,developer_1026,13.965246
...,...,...,...,...,...,...,...,...
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,developer_1760,13.814468
23430,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,developer_1793,13.834361
23431,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,developer_2217,13.859872
23432,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,developer_1004,18.808447
23433,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,developer_10510,12.684945

In [ ]:
project_df.dropna(axis=1).isnull().any().any()

False

In [ ]:
print(project_df.shape)
project_df.isnull().any().any()

(23434, 45)

True

In [ ]:
project_df2 = project_df.dropna(axis=1) ## project_df2 สร้างตัวแปร project_df2 มารับค่าไว้เพื่อนำไปประมวลผลต่อได้
print(project_df2.shape)
project_df2.head()

(23434, 8)

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,developer_id,latitude
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,developer_10678,13.570530
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,developer_7319,13.033814
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,developer_10510,13.417402
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,developer_10510,15.038042
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,developer_1026,13.965246



```
# 2. thresh
```

In [ ]:
project_df.iloc[:5, -7:] ## เอาแถวที่ 0-4, และ 7 Columns สุดท้าย

,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [ ]:
project_df.iloc[:5, -7:].dropna(thresh=5) ##ถ้า missing ใน rows นั้นมีมากวว่า 5 ค่า

,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
3,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...



```
# 3. subset 
```

In [ ]:
project_df.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [ ]:
#project_df.columns

- เช่น สนใจแค่ราคา (price_min)  และชนิดของของโครงการ (propertytype_name_th)

In [ ]:
project_df.dropna(subset=['propertytype_name_en', 'price_min'])

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,NaN,1.0,1.0,NaN,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [ ]:
project_df.dropna(subset=['propertytype_name_en', 'price_min']).isnull().any()

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool



```
# 4. inplace 
```

In [ ]:
project_df.dropna(subset=['propertytype_name_en', 'price_min'], inplace = True) ## ไม่เอาตัวแปรมารับ คือ update ตัวแปรเดิม  ##ใช้เมื่อจะไม่นำตารางเดิมไปใช้ต่อ

# Quiz 3

1. กำจัดค่า missing โดยการตัด column ให้น้อยที่สุด โดยจำนวน records ที่ไม่มี missing เลย ยังเหลือมากกว่า 80%
2. สร้าง data ที่ค่าใน columns ['price_min', 'neighborhood_name_en', 'developer_name_en'] แต่ละ row ต้องมีค่า missing ไม่เกิน 2 ค่า

- 1. กำจัดค่า missing โดยการตัด column ให้น้อยที่สุด โดยจำนวน records ที่ไม่มี missing เลย ยังเหลือมากกว่า 80%

In [ ]:
project_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_project.csv')
print(project_df.shape)  ##บอกขนาดของ DataFrame
project_df.head()

(23434, 45)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [ ]:
project_df.isnull().any()

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool

In [ ]:
#project_df.isnull().sum() ## Columns ไหนมี missing มากที่สุด  ==

In [5]:
project_df2 = project_df.dropna(axis=1,thresh=0.8*project_df.shape[0])
print(project_df2.shape)
project_df2.head()

(23434, 30)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,latitude,...,province_id,province_name_en,province_name_th,zipcode,count_unit,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,13.570530,...,3498.0,Samut Prakan,สมุทรปราการ,10280.0,NaN,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,13.033814,...,4616.0,Chon Buri,ชลบุรี,20230.0,77.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,13.417402,...,4616.0,Chon Buri,ชลบุรี,20160.0,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,15.038042,...,2857.0,Nakhon Ratchasima,นครราชสีมา,30000.0,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,13.965246,...,3599.0,Pathum Thani,ปทุมธานี,12000.0,485.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [ ]:
project_df.dropna(axis=1,thresh=0.8*project_df.shape[0]).dropna().shape

(16397, 30)

In [ ]:
project_df.dropna(axis=1,thresh=0.82015*project_df.shape[0]).dropna().shape

(16397, 28)

In [ ]:
project_df.dropna(axis=1,thresh=0.8202*project_df.shape[0]).dropna().shape

(19516, 27)

In [ ]:
project_df2_ = project_df.dropna(axis=1,thresh=0.8202*project_df.shape[0]).dropna()
print(project_df2_.shape)
project_df2.isnull().sum()

(19516, 27)

row_number                 5
project_id                 0
name_en                    0
name_th                    0
propertytype_id            0
propertytype_name_en       0
propertytype_name_th       0
price_min                117
developer_id               0
latitude                   0
longitude                  5
neighborhood_id         4215
neighborhood_name_en    4214
neighborhood_name_th    4220
subdistrict_id            19
subdistrict_name_en       14
subdistrict_name_th       16
district_id               10
district_name_en          10
district_name_th          10
province_id                9
province_name_en          10
province_name_th          10
zipcode                   31
count_unit              1887
date_created              10
date_finish             2626
date_updated              10
source                    10
url_project               10
dtype: int64

In [ ]:
project_df2_.shape[0]/project_df.shape[0]*100

83.28070325168558

In [ ]:
project_df2_.shape[0]

19516

In [ ]:
0.8*project_df.shape[0]

18747.2

- 2. สร้าง data ที่ค่าใน columns ['price_min', 'neighborhood_name_en', 'developer_name_en'] แต่ละ row มีค่า missing เกิน 2 columns

In [ ]:
project_df3  = project_df[['price_min', 'neighborhood_name_en', 'developer_name_en']]
project_df3

       price_min neighborhood_name_en              developer_name_en
0      3790000.0       MANGKON NAKDEE   Winning Asset Plus Co., Ltd.
1      1100000.0               BO WIN       Gift Asset Land Co.,Ltd.
2            0.0        NONG TAMLUENG                            NaN
3            0.0     BUENG THAP CHANG                            NaN
4      1930000.0            BANG DUEA   Preuksa Real Estate Co.,Ltd.
...          ...                  ...                            ...
23429  5700000.0            LAT PHRAO         AP (Thailand) Co,. Ltd
23430  3590000.0       KASET NAWA MIN       Areeya Property Co.,Ltd.
23431  1870000.0            KHANNAYAO  Wangthong Group Pub Co., Ltd.
23432  4000000.0     SAN PU LOEI NUEA     Homeland Service Co., Ltd.
23433  2800000.0             HAT PHLA                            NaN

[23434 rows x 3 columns]

In [ ]:
project_df3.isnull().sum()

price_min                 117
neighborhood_name_en     4214
developer_name_en       12654
dtype: int64

In [ ]:
project_df3_ = project_df3.dropna(subset=['developer_name_en'])
print(project_df3_.shape)
project_df3_.head()

(10780, 3)

   price_min neighborhood_name_en                developer_name_en
0  3790000.0       MANGKON NAKDEE     Winning Asset Plus Co., Ltd.
1  1100000.0               BO WIN         Gift Asset Land Co.,Ltd.
4  1930000.0            BANG DUEA     Preuksa Real Estate Co.,Ltd.
5  1480000.0          RAM IN THRA         Asset Wise Pub Co., Ltd.
6   990000.0                  NaN  Sedsiri Property 2499 Co., Ltd.

In [ ]:
project_df3_.isnull().sum()

price_min                 22
neighborhood_name_en    1568
developer_name_en          0
dtype: int64

---

In [ ]:
project_df3__ = project_df3.dropna(thresh=2)
print(project_df3__.shape)
project_df3__.head()

(20738, 3)

   price_min neighborhood_name_en             developer_name_en
0  3790000.0       MANGKON NAKDEE  Winning Asset Plus Co., Ltd.
1  1100000.0               BO WIN      Gift Asset Land Co.,Ltd.
2        0.0        NONG TAMLUENG                           NaN
3        0.0     BUENG THAP CHANG                           NaN
4  1930000.0            BANG DUEA  Preuksa Real Estate Co.,Ltd.

In [6]:
project_df4 = project_df.dropna(subset=['price_min', 'neighborhood_name_en', 'developer_name_en'], thresh=2)
print(project_df4.shape)
project_df4

(20738, 45)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,NaN,1.0,1.0,NaN,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [7]:
project_df4_ = project_df4[['price_min', 'neighborhood_name_en', 'developer_name_en']]
project_df4_

       price_min neighborhood_name_en              developer_name_en
0      3790000.0       MANGKON NAKDEE   Winning Asset Plus Co., Ltd.
1      1100000.0               BO WIN       Gift Asset Land Co.,Ltd.
2            0.0        NONG TAMLUENG                            NaN
3            0.0     BUENG THAP CHANG                            NaN
4      1930000.0            BANG DUEA   Preuksa Real Estate Co.,Ltd.
...          ...                  ...                            ...
23429  5700000.0            LAT PHRAO         AP (Thailand) Co,. Ltd
23430  3590000.0       KASET NAWA MIN       Areeya Property Co.,Ltd.
23431  1870000.0            KHANNAYAO  Wangthong Group Pub Co., Ltd.
23432  4000000.0     SAN PU LOEI NUEA     Homeland Service Co., Ltd.
23433  2800000.0             HAT PHLA                            NaN

[20738 rows x 3 columns]

## แทนค่า missing ด้วยค่าที่เหมาะสม (class ใหม่, ที่เราคิดว่าเหมาะสม)

In [ ]:
unit_df.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [ ]:
unit_df.describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

- count_elevator	== count = 0

## pandas.DataFrame.fillna

`DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)`

In [ ]:
unit_df.fillna(0)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,0.0,37.3,2500000.0,...,1.0,1.0,0.0,0.0,0.0,0.0,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,0.0,28.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,0.0,27.0,170000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,0.0,182.0,2390000.0,...,1.0,1.0,0.0,0.0,2.0,0.0,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,0.0,157.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,0.0,223.0,7490000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,0.0,133.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,0.0,180.0,3200000.0,...,0.0,1.0,0.0,0.0,0.0,0.0,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,0.0,170.0,3790000.0,...,1.0,1.0,0.0,0.0,0.0,0.0,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

In [ ]:
unit_df.fillna(0).isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa       False
area_usable_min         False
price_min               False
count_airconditioner    False
count_elevator          False
count_floor_internal    False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
date_created            False
date_updated            False
source                  False
url_unittype            False
dtype: bool

### แทนที่ missing ด้วยค่า mean

In [ ]:
unit_df = unit_df.fillna({'count_elevator':0}).describe()

In [ ]:
unit_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_unittype.csv')
print(unit_df.shape)  ##บอกขนาดของ DataFrame
unit_df.head()

(42625, 27)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [ ]:
unit_df.isnull().any().any()

True

In [ ]:
unit_df.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

In [ ]:
import numpy as np

In [ ]:
np.round(unit_df['count_room_bath'].mean())

2.0

In [8]:
unit_df  = unit_df.fillna({'count_room_bath':np.round(unit_df['count_room_bath'].mean())})
unit_df.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [ ]:
unit_df.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath         False
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

### แทนที่ missing ด้วยค่า mean ของกลุ่ม

- Columns == 'propertytype_name_en '
- price_min

In [ ]:
set(unit_df['propertytype_name_en'])

{'Apartment',
 'Commercial',
 'Condo',
 'Detached House',
 'Home office',
 'Hotel',
 'Land',
 'Office Space',
 'Townhome',
 'Twin house',
 'Warehouse / Factory'}

#### ลองทำ กลุ่ม Apartment ก่อน

- เลือก Data จากที่พักอาศัยเป็น Apartment

In [ ]:
unit_df[unit_df['propertytype_name_en'] == 'Apartment']['price_min'].mean()

1888571.4285714286

- แทนค่า mean ของกลุ่ม

In [9]:
unit_df_apart = unit_df[unit_df['propertytype_name_en'] == 'Apartment'].fillna({'price_min':np.round(unit_df[unit_df['propertytype_name_en'] == 'Apartment']['price_min'].mean())})

In [ ]:
unit_df_apart.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
170,35223,unittype_1773,project_930,Studio,5,Apartment,อพาตเมนต์,NaN,NaN,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:57,2021-02-02 14:24:42,baania,https://baania.com/th/project/คอนโดเทรล-930/st...
1977,20308,unittype_2998,project_1013,VIP 2 Biz,5,Apartment,อพาตเมนต์,NaN,30.0,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:43:05,2020-10-14 20:17:29,baania,https://baania.com/th/project/เดอะพีลเพิ้ล-พาร...
3377,27183,unittype_3050,project_414,Type D,5,Apartment,อพาตเมนต์,NaN,195.0,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:09,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
5925,35461,unittype_5380,project_1802,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:33,2020-10-14 01:10:53,baania,https://baania.com/th/project/เดอะ-เกรท-คอนโด-...
9201,15984,5ebe5dd684c1860019f324a5,5ebe5d9c84c1860019f3249f,Studio,5,Apartment,อพาตเมนต์,NaN,34.0,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:58,2021-02-02 14:50:22,baania,https://baania.com/th/project/นิว-นอร์ดิค-คลับ...

#### ทำ Conda

In [10]:
unit_df_condo = unit_df[unit_df['propertytype_name_en'] == 'Condo'].fillna({'price_min':np.round(unit_df[unit_df['propertytype_name_en'] == 'Condo']['price_min'].mean())})

In [ ]:
unit_df_condo.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,6266300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
10,5238,unittype_15162,project_4107,Studio Floor 5-8,2,Condo,คอนโด,NaN,30.0,1116000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:21:06,2020-10-14 00:58:44,baania,https://baania.com/th/project/ซิตี้โฮม-รัตนาธิ...
14,29911,unittype_25780,project_10313,1 Bedroom,2,Condo,คอนโด,NaN,50.0,1700000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:11,2020-10-14 01:09:03,baania,https://baania.com/th/project/พัทยา-เดล-เรย์-1...

In [ ]:
unit_df_condo.describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,12717.000000,12717.0,0.0,12359.000000,1.271700e+04,565.000000,0.0,173.000000,166.000000,12717.000000,12679.000000,3646.000000,1449.000000,5254.000000,4257.000000,97.000000,111.000000,168.0
mean,21128.196115,2.0,NaN,63.843118,6.266300e+06,1.920354,NaN,2.069364,1.162651,1.400094,1.347425,1.000823,1.004831,1.002665,1.004463,1.061856,1.099099,1.0
std,12232.683270,0.0,NaN,80.559938,1.418192e+07,0.914245,NaN,0.615534,0.564658,0.765545,0.953510,0.028677,0.078690,0.051556,0.073377,0.242145,0.485329,0.0
min,2.000000,2.0,NaN,16.000000,1.000000e+05,1.000000,NaN,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0
25%,9875.000000,2.0,NaN,30.000000,1.700000e+06,1.000000,NaN,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0
50%,23258.000000,2.0,NaN,41.560000,3.300000e+06,2.000000,NaN,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0
75%,31152.000000,2.0,NaN,64.000000,6.266300e+06,3.000000,NaN,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0
max,42624.000000,2.0,NaN,4350.000000,5.800000e+08,6.000000,NaN,9.000000,4.000000,8.000000,10.000000,2.000000,3.000000,2.000000,3.000000,2.000000,5.000000,1.0

#### ต่อตารางในแนวแกน Y

In [ ]:
fused_df = pd.concat([unit_df_apart, unit_df_condo])
print(fused_df.shape)
fused_df.head()

(12759, 27)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
170,35223,unittype_1773,project_930,Studio,5,Apartment,อพาตเมนต์,NaN,NaN,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:57,2021-02-02 14:24:42,baania,https://baania.com/th/project/คอนโดเทรล-930/st...
1977,20308,unittype_2998,project_1013,VIP 2 Biz,5,Apartment,อพาตเมนต์,NaN,30.0,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:43:05,2020-10-14 20:17:29,baania,https://baania.com/th/project/เดอะพีลเพิ้ล-พาร...
3377,27183,unittype_3050,project_414,Type D,5,Apartment,อพาตเมนต์,NaN,195.0,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:09,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
5925,35461,unittype_5380,project_1802,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:33,2020-10-14 01:10:53,baania,https://baania.com/th/project/เดอะ-เกรท-คอนโด-...
9201,15984,5ebe5dd684c1860019f324a5,5ebe5d9c84c1860019f3249f,Studio,5,Apartment,อพาตเมนต์,NaN,34.0,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:58,2021-02-02 14:50:22,baania,https://baania.com/th/project/นิว-นอร์ดิค-คลับ...

#### วนลูปทำทุกกลุ่ม

*ลองทำเองก่อน*

In [ ]:
lst_name = list(set(unit_df['propertytype_name_en']))
print(len(lst_name))
lst_name

11

['Detached House',
 'Townhome',
 'Condo',
 'Twin house',
 'Apartment',
 'Warehouse / Factory',
 'Commercial',
 'Hotel',
 'Home office',
 'Office Space',
 'Land']

In [ ]:
lst_name = list(set(unit_df['propertytype_name_en']))
price_min_len = []
df_all = []
for j in range(len(lst_name)) :
    price_min = np.round(unit_df[unit_df['propertytype_name_en'] == lst_name[j]]['price_min'].mean())
    df_0 = unit_df[unit_df['propertytype_name_en'] == lst_name[j]].fillna({'price_min':price_min})
    price_min_len.append(df_0.shape[0])
    print(f'{lst_name[j]} ---> [DataFrame : Shape] ---> : {df_0.shape}')
    df_all.append(df_0)  
print('-'*100)
## Concat df     
fused_df_name = pd.concat(df_all)
print(fused_df_name.shape)
fused_df_name.head()

Detached House ---> [DataFrame : Shape] ---> : (17670, 27)
Townhome ---> [DataFrame : Shape] ---> : (8110, 27)
Condo ---> [DataFrame : Shape] ---> : (12717, 27)
Twin house ---> [DataFrame : Shape] ---> : (1991, 27)
Apartment ---> [DataFrame : Shape] ---> : (42, 27)
Warehouse / Factory ---> [DataFrame : Shape] ---> : (12, 27)
Commercial ---> [DataFrame : Shape] ---> : (1704, 27)
Hotel ---> [DataFrame : Shape] ---> : (25, 27)
Home office ---> [DataFrame : Shape] ---> : (341, 27)
Office Space ---> [DataFrame : Shape] ---> : (6, 27)
Land ---> [DataFrame : Shape] ---> : (7, 27)
----------------------------------------------------------------------------------------------------
(42625, 27)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
7,1666,unittype_14501,project_5799,บ้านเดี่ยวสองชั้น Type A,1,Detached House,บ้าน,NaN,NaN,3300000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:59,2020-10-14 00:40:37,baania,https://baania.com/th/project/บ้านชัยพฤกษ์-บาง...
8,41823,6215b4a7a441d30014e1f02f,6215b1cfc1620300140bc087,บ้านเดี่ยวชั้นเดียว Type C,1,Detached House,บ้าน,NaN,80.0,990000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-23 12:00:12,2022-02-23 11:14:31,baania,https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
9,34458,unittype_34564,project_14884,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,NaN,6674175.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:13,2020-10-14 22:16:17,baania,https://baania.com/th/project/บ้านลีลาวดี-บ้าน...
11,2452,unittype_8521,project_2906,New Villa Valdivia,1,Detached House,บ้าน,NaN,441.0,36900000.0,...,1.0,1.0,1.0,1.0,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:47,baania,https://baania.com/th/project/แกรนด์-บางกอก-บู...

In [ ]:
sum(price_min_len)

42625

In [ ]:
lst_name2 = list(set(fused_df_name['propertytype_name_en']))
print(len(lst_name2))
lst_name2

11

['Detached House',
 'Townhome',
 'Condo',
 'Apartment',
 'Twin house',
 'Warehouse / Factory',
 'Commercial',
 'Hotel',
 'Home office',
 'Office Space',
 'Land']

In [ ]:
fused_df_name.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min               False
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath         False
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

*เฉลย*

In [ ]:
unit_df_temp0 = unit_df[unit_df['propertytype_name_en']==list(set(unit_df['propertytype_name_en']))[0]].fillna({'price_min' : unit_df[unit_df['propertytype_name_en']==list(set(unit_df['propertytype_name_en']))[0]]['price_min'].mean()})

for group in list(set(unit_df['propertytype_name_en']))[1:]:
    print(group)
    unit_df_temp1 = unit_df[unit_df['propertytype_name_en']==group].fillna({'price_min' : unit_df[unit_df['propertytype_name_en']==group]['price_min'].mean()})
    unit_df_temp0 = pd.concat([unit_df_temp0,unit_df_temp1])

Townhome
Condo
Twin house
Apartment
Warehouse / Factory
Commercial
Hotel
Home office
Office Space
Land

In [ ]:
print(unit_df_temp0.shape)
unit_df_temp0.head()

(42625, 27)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,บ้าน,70.5,198.0,1.170000e+07,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/คาซ่า-แกรนด์-ตาก...
7,1666,unittype_14501,project_5799,บ้านเดี่ยวสองชั้น Type A,1,Detached House,บ้าน,NaN,NaN,3.300000e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:59,2020-10-14 00:40:37,baania,https://baania.com/th/project/บ้านชัยพฤกษ์-บาง...
8,41823,6215b4a7a441d30014e1f02f,6215b1cfc1620300140bc087,บ้านเดี่ยวชั้นเดียว Type C,1,Detached House,บ้าน,NaN,80.0,9.900000e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-23 12:00:12,2022-02-23 11:14:31,baania,https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
9,34458,unittype_34564,project_14884,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,NaN,6.674175e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:13,2020-10-14 22:16:17,baania,https://baania.com/th/project/บ้านลีลาวดี-บ้าน...
11,2452,unittype_8521,project_2906,New Villa Valdivia,1,Detached House,บ้าน,NaN,441.0,3.690000e+07,...,1.0,1.0,1.0,1.0,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:47,baania,https://baania.com/th/project/แกรนด์-บางกอก-บู...

#### ต่อตารางในแนวแกน X (เพิ่ม feature ให้กับ Data)

In [ ]:
project_df.isnull().any()

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool

#### Merge(เอาตาราง 2 อันมารวมกัน)

In [11]:
merge_table = unit_df.merge(project_df, left_on='project_id', right_on='project_id')  ## unit_df เป็นตารางหลัก , project_id เป็น key
print(merge_table.shape)
merge_table.head()

(53729, 71)

,row_number_x,unittype_id,project_id,name_th_x,propertytype_id_x,propertytype_name_en_x,propertytype_name_th_x,area_total_min_wa,area_usable_min,price_min_x,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created_y,date_finish,date_updated_y,source_y,url_project
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,38108,unittype_18502,project_2446,1 Bedroom,2,Condo,คอนโด,NaN,24.0,1390000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
2,2396,unittype_9564,project_2446,1 Bedroom Plus,2,Condo,คอนโด,NaN,29.0,1990000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
3,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-24 13:55:45,2022-01-01 07:00:00,2022-01-27 14:30:04,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
4,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-24 13:55:45,2022-01-01 07:00:00,2022-01-27 14:30:04,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...

In [ ]:
merge_table.columns

Index(['row_number_x', 'unittype_id', 'project_id', 'name_th_x',
       'propertytype_id_x', 'propertytype_name_en_x', 'propertytype_name_th_x',
       'area_total_min_wa', 'area_usable_min', 'price_min_x',
       'count_airconditioner', 'count_elevator_x', 'count_floor_internal',
       'count_parking_x', 'count_room_bath', 'count_room_bed',
       'count_room_dinning', 'count_room_guest', 'count_room_kitchen',
       'count_room_living', 'count_room_maid', 'count_room_storage',
       'count_room_utility', 'date_created_x', 'date_updated_x', 'source_x',
       'url_unittype', 'row_number_y', 'name_en', 'name_th_y',
       'propertytype_id_y', 'propertytype_name_en_y', 'propertytype_name_th_y',
       'price_min_y', 'developer_id', 'developer_name_en', 'developer_name_th',
       'latitude', 'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator_y',
       'count_elevator_service', 'count_floor', 'count_parking_y',
       'count_tower', 'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created_y', 'date_finish', 'date_updated_y', 'source_y',
       'url_project'],
      dtype='object')

**Quiz 4** 

- ราคาเฉลี่ยของบ้านเดี่ยวในจังหวัดขอนแก่นคือเท่าไหร่

In [ ]:
project_kk_home = merge_table[(merge_table['province_name_th'] == 'ขอนแก่น')]
print(project_kk_home.shape)
project_kk_home.head()

(1303, 71)

,row_number_x,unittype_id,project_id,name_th_x,propertytype_id_x,propertytype_name_en_x,propertytype_name_th_x,area_total_min_wa,area_usable_min,price_min_x,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created_y,date_finish,date_updated_y,source_y,url_project
37,41823,6215b4a7a441d30014e1f02f,6215b1cfc1620300140bc087,บ้านเดี่ยวชั้นเดียว Type C,1,Detached House,บ้าน,NaN,80.0,990000.0,...,NaN,NaN,NaN,NaN,NaN,2022-02-23 11:02:23,NaN,2022-02-23 12:00:12,baania,https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
38,41821,6215b324412ede001495e35f,6215b1cfc1620300140bc087,บ้านเดี่ยวชั้นเดียว Type A,1,Detached House,บ้าน,NaN,108.0,1530000.0,...,NaN,NaN,NaN,NaN,NaN,2022-02-23 11:02:23,NaN,2022-02-23 12:00:12,baania,https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
39,41822,6215b3afc1620300140bc08b,6215b1cfc1620300140bc087,บ้านเดี่ยวชั้นเดียว Type B,1,Detached House,บ้าน,NaN,84.0,1350000.0,...,NaN,NaN,NaN,NaN,NaN,2022-02-23 11:02:23,NaN,2022-02-23 12:00:12,baania,https://baania.com/th/project/เฌอลินน์ดา-ซำสูง...
80,41850,621700a8a441d30014e1f0f3,6216fee6a441d30014e1f0f2,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,83.0,2200000.0,...,NaN,NaN,NaN,NaN,NaN,2022-02-24 10:43:34,NaN,2022-02-24 12:00:06,baania,https://baania.com/th/project/อินทรวิลเลจ-6216...
484,9355,unittype_37999,project_1865,Type D,2,Condo,คอนโด,NaN,51.0,2240000.0,...,NaN,1.0,NaN,NaN,1.0,2016-08-22 15:21:35,2021-01-01 07:00:00,2022-02-23 12:00:12,baania,https://baania.com/th/project/ซิตี้-พาร์ค-คอนโ...

In [ ]:
#project_kk_home.columns

In [ ]:
#set(project_kk_home['propertytype_name_en_y'])

In [ ]:
set(project_kk_home['propertytype_name_th_x'])

{'คอนโด', 'ทาวน์โฮม', 'บ้าน', 'บ้านแฝด', 'อาคารพาณิชย์', 'โฮมออฟฟิศ'}

In [ ]:
price_home_kku  = np.round(project_kk_home[project_kk_home['propertytype_name_th_x'] == 'บ้าน']['price_min_x'].mean())
price_home_kku
print(f'ราคาเฉลี่ยของบ้านเดี่ยวในจังหวัดขอนแก่นคือ {price_home_kku:,} บาท')

ราคาเฉลี่ยของบ้านเดี่ยวในจังหวัดขอนแก่นคือ 3,790,422.0 บาท

**เฉลย**

In [ ]:
merge_table[(merge_table['province_name_th'] == 'ขอนแก่น') & (merge_table['propertytype_name_th_x'] == 'บ้าน')]['price_min_x'].mean()

3790422.3908205843

#### Map (เลือกเอา Columns จากตารางรองมาแปะ)

In [ ]:
unit_df['province_name_th'] = unit_df['project_id'].map(project_df.set_index('project_id')['province_name_th'])

InvalidIndexError: ignored

เพราะว่า Index ไม่ Unique 

`InvalidIndexError: Reindexing only valid with uniquely valued Index objects `

# HW 2 

หาพฤติกรรมของ Merge function ว่าเวลา Merge แล้ว Key ในตารางรองไม่ Unique มัน merge ยังไง

*(จำนวน row ของ project id นั้น เพิ่มขึ้นหรรือไม่)*

In [ ]:
# project_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_project.csv')
# print(project_df.shape)  ##บอกขนาดของ DataFrame
# project_df.head()

In [ ]:
project_df_nodup = project_df.drop_duplicates(subset=['project_id'])

In [ ]:
project_df.shape

(23434, 45)

In [ ]:
project_df_nodup.shape

(19900, 45)

In [ ]:
unit_df['province_name_th'] = unit_df['project_id'].map(project_df_nodup.set_index('project_id')['province_name_th'])

In [ ]:
unit_df[['province_name_th']]

      province_name_th
0        กรุงเทพมหานคร
1            เชียงใหม่
2            เชียงใหม่
3              นนทบุรี
4          สมุทรปราการ
...                ...
42620    กรุงเทพมหานคร
42621          นนทบุรี
42622    กรุงเทพมหานคร
42623    กรุงเทพมหานคร
42624         ปทุมธานี

[42625 rows x 1 columns]

# คาบต่อไป

1. Smooth data
2. Create pandas df & save pandas df
3. Visulization

### Quiz

In [ ]:
project_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_project.csv')
print(project_df.shape)  ##บอกขนาดของ DataFrame
project_df.head()

(23434, 45)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [ ]:
unit_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_unittype.csv')
print(unit_df.shape)  ##บอกขนาดของ DataFrame
unit_df.head()

(42625, 27)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [ ]:
column_Prodf = set(project_df.columns)
#column_Prodf
column_unitdf = set(unit_df.columns)
#column_unitdf

In [ ]:
column_Prodf-column_unitdf

{'count_elevator_service',
 'count_floor',
 'count_tower',
 'count_unit',
 'count_unittype',
 'date_finish',
 'developer_id',
 'developer_name_en',
 'developer_name_th',
 'district_id',
 'district_name_en',
 'district_name_th',
 'facility_clubhouse',
 'facility_fitness',
 'facility_meeting',
 'facility_park',
 'facility_playground',
 'facility_pool',
 'facility_security',
 'latitude',
 'longitude',
 'name_en',
 'neighborhood_id',
 'neighborhood_name_en',
 'neighborhood_name_th',
 'province_id',
 'province_name_en',
 'province_name_th',
 'subdistrict_id',
 'subdistrict_name_en',
 'subdistrict_name_th',
 'url_project',
 'zipcode'}

In [ ]:
column_unitdf-column_Prodf

{'area_total_min_wa',
 'area_usable_min',
 'count_airconditioner',
 'count_floor_internal',
 'count_room_bath',
 'count_room_bed',
 'count_room_dinning',
 'count_room_guest',
 'count_room_kitchen',
 'count_room_living',
 'count_room_maid',
 'count_room_storage',
 'count_room_utility',
 'unittype_id',
 'url_unittype'}

# 2. Create pandas df & save pandas df

## Create table

![image.png]()

![image.png]()

### 1. Dict-Row

In [13]:
sale = [{'accout':'Jones LLC', 'Jan':150,'Feb':200,'Mar':140},
          {'accout':'Alpha Co', 'Jan':200,'Feb':210,'Mar':215},
          {'accout':'Blue Inc', 'Jan':50,'Feb':90,'Mar':95}]

sale_tb1 = pd.DataFrame(sale)
sale_tb1

      accout  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

### 2. Dict-Columns

In [15]:
sales = {'account' : ['Jones LLC','Alpha Co','Blue Inc'],
                 'Jan' : [150,200,50],
                 'Feb' : [200,210,90],
                 'Mar' : [140,215,95]}
sale_tb2 = pd.DataFrame.from_dict(sales)
sale_tb2

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

### 3. list-rows

In [16]:
sales_RL = [('jones LCC',150,200,140),
                   ('Alpha Co',200,210,215),
                    ('Blue Inc',50,90,95)]
sale_tb3 = pd.DataFrame.from_dict(sales_RL)
sale_tb3

           0    1    2    3
0  jones LCC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

### 4. list-columns

In [17]:
sales_CL = [('account',['Jones LLC','Alpha Co','Blue Inc']),
                ('Jan',[150,200,50]),
                ('Feb',[200,210,90]),
                ('Mar',[140,215,95]) ]
sale_tb4 = pd.DataFrame.from_items(sales_CL)
sale_tb4

AttributeError: ignored

In [22]:
sale_tb4 = pd.DataFrame.from_dict(dict(sales_CL))
sale_tb4

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

# Quiz 6

สร้างตารางที่ประกอบไปด้วย
- สูตรคูณแม่ 1-5
- factorial
- ยกกำลังสอง
- เลข 3 หารค่าในช่องลกยกกำลังสอง 2 ลงตัว (yes/no)

สำหรับเลข 1-15

In [27]:
import numpy as np
np.math.factorial(5)

120

In [72]:
# xN_, fac_, squre_, div_ = [], [], [], []
# ourNum = range(1,6)
# ourRange = range(1,16)
# for n in ourNum:
#     for x in ourRange:
#         result = n * x
#         fac = np.math.factorial(result)
#         squre = result ** 2
#         if squre % 3 == 0:
#            div_.append('yes')
#         else:
#             div_.append('no')
#         #print(n," * ",x," = ",result)
#         xN = str(n)+" X "+str(x)+" = "+ str(result)
#         xN_.append(xN)
#         fac_.append(fac)
#         squre_.append(squre)

# Table_xN = {'xN': xN_, 'Factorial':fac_, 'Squre': squre_,'Divisible': div_}
# Table_xN_ = pd.DataFrame(Table_xN, columns=['xN', 'Factorial', 'Squre','Divisible'])
# print(Table_xN_.shape)
# Table_xN_

In [71]:
x1_, x2_, x3_, x4_, x5_, fac_, squre_, div_ = [],[],[],[],[],[],[],[]
#ourNum = range(1,6)
ourRange = range(1,16)
#for n in ourNum:
for x in ourRange:
    x2 = 2 * x
    x3 = 3 * x
    x4 = 4 * x
    x5 = 5 * x
    fac = np.math.factorial(x)
    squre = x ** 2
    if squre % 3 == 0:
        div_.append('yes')
    else:
        div_.append('no')
    #print(n," * ",x," = ",result)
    x1_.append(x)
    x2_.append(x2)
    x3_.append(x3)
    x4_.append(x4)
    x5_.append(x5)
    fac_.append(fac)
    squre_.append(squre)

Table_xN = {'x1':x1_,'x2':x2_,'x3':x3_,'x4':x4_,'x5':x5_, 'xN': xN_, 'Factorial':fac_, 'Squre': squre_,'Divisible': div_}
Table_xN_ = pd.DataFrame(Table_xN, columns=['x1','x2','x3','x4','x5', 'Factorial', 'Squre','Divisible'])
print(Table_xN_.shape)
Table_xN_

(15, 8)

    x1  x2  x3  x4  x5      Factorial  Squre Divisible
0    1   2   3   4   5              1      1        no
1    2   4   6   8  10              2      4        no
2    3   6   9  12  15              6      9       yes
3    4   8  12  16  20             24     16        no
4    5  10  15  20  25            120     25        no
5    6  12  18  24  30            720     36       yes
6    7  14  21  28  35           5040     49        no
7    8  16  24  32  40          40320     64        no
8    9  18  27  36  45         362880     81       yes
9   10  20  30  40  50        3628800    100        no
10  11  22  33  44  55       39916800    121        no
11  12  24  36  48  60      479001600    144       yes
12  13  26  39  52  65     6227020800    169        no
13  14  28  42  56  70    87178291200    196        no
14  15  30  45  60  75  1307674368000    225       yes

## 8 columns 15 rows